*{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 420px 920px ;
    background-position: center;
}

.main-text, .special-msg, .imgs {
    position: absolute;
    width: fit-content;
}

.main-text {
    top: 120px;
    left: 50px;
    font-size: 30px;
}

.special-msg {
    top: 200px;
    left: 50px;
    width: 50vw;
}

.imgs {
    top: 700px;
    text-align: center;
    opacity: 0.8;
}


.imgs img {
    width: 15%;
    height: 5%;
    transition: all 0.5s;
}

.imgs img:hover {
    width: 17%;
    height: 7%;
}

.imgs img .active{
    width: 12%;
}